.modal {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal_hidden {
    display: hidden;
}

.modal__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 498px 44px 36px;
    grid-template-areas:
        "image image"
        "name delete"
        "weather .";
    width: 498px;
    height: 610px;
    border-radius: 16px;
    overflow: hidden;
    background-color: #fff;
}

.modal__image {
    width: 498px;
    height: 498px;
    margin-bottom: 20px;
    grid-area: image;
}

.modal__exit {
    background-image: url('../images/exit_button.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 27px;
    right: 27px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
}

.modal__exit:hover {
    cursor: pointer;
    opacity: 0.5;
}

.modal__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 0 32px;
    grid-area: name;
    display: flex;
    align-items: flex-end;
}

.modal__weather {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin: 0 0 0 32px;
    grid-area: weather;
    display: flex;
    align-items: flex-end;
}

.modal__delete {
    border: none;
    background: transparent;
    cursor: pointer;
    color: #FF4D00;
    grid-area: delete;
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    margin: 0 32px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
}

.modal__delete_visible {
    display: visible;
}

.modal__delete_hidden {
    display: none;
}

.modal__form-container {
    width: 498px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 28px 28px 36px;
    box-sizing: border-box;
}

.modal__form-exit {
    background-image: url('../images/exit_button_grey.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    width: 16px;
    height: 16px;
    position: absolute;
    top: 22px;
    right: 30px;
    border: none;
}

.modal__form-exit:hover {
    cursor: pointer;
}

.modal__form-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    margin-bottom: 24px;
}